<div id="pane2" class="col-md-6">
    <p>
        My favorite things in life don't cost any money. It's really clear that the most precious resource we all have is time.
    </p>
    <p class="bold"> - Steve Jobs</p>
</div>
