@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 30px;">
    <h2>APP - Project Managment</h2>
    <p class="lead">Let's get your more work done, quicker and better.</p>
</div>