@navBgColor: #1D8CC6;

@anchorBorder: #116D9E;

.navbar-inverse {background-color: @navBgColor;border-bottom: 6px solid #1A84BC;}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand { color: #fff;}
.navbar-inverse .navbar-nav > .dropdown > a .caret {border-top-color: @anchorBorder;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background: @anchorBorder;}